*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("ttt.jpg") ;
    text-align: center;
    background-size:cover;
    
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    gap: 2.5vmin;
    
    
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(109, 100, 100);
    font-size: 8vmin ;
    color: rgb(240, 235, 235) ;
    background: #dbc7c7 ,#f0f;
    
}
#reset-btn{

    padding: 1rem;
    font-size:2rem;
    background: #ccbdbb;
    color:#681818;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size:2.25rem;
    background: #ccbdbb;
    color:#681818;
    border-radius: 1rem;
    border: none;

}
#msg{
    color: #d4d4c1;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:4rem;
}
.hide{
    display: none;
}

#we{
    margin-top: 5rem;
    color: #fff;
}